$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;
$screen-xl-max: 1440px;

$xsolla-color-fst: #3C4858;
$xsolla-color-snd: #EB345E;

$xsolla-magenta: #ff005b;
$xsolla-midnight: #011627;
$xsolla-slate: #495c6b;
$xsolla-iron: #d6e0e7;
$xsolla-dove: #f6faff;
$xsolla-electric: #0076ff;

$custom-white: #fafbfc;
$custom-darkblue: #00244d;
$custom-blue: #357BDA;

@media only screen and (max-width: $screen-sm-max) {
  .body{
    width:$screen-sm;
  }
}

@media only screen and (max-width: $screen-md-max) {
  .body{
    width:$screen-md;
  }
}

@media only screen and (max-width: $screen-lg-max) {
  .body{
    width:$screen-lg;
  }
}

@media only screen and (min-width: $screen-xl-max) {
  .body{
    width:$screen-xl;
  }
}

* {
  margin:0;
  padding: 0;
}
html {
  background-color: $xsolla-dove;
  display:block;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  outline: none !important;
}

.body{
  //width: 100%;
  //max-width: 90rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

/*Work with app header*/
.appHeader{
  background-color: $custom-white;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2rem;
  padding-right: 2.5rem;
}

.appHeaderLogo {
  display: flex;
  align-items: inherit;
  flex: 3;
}

.appHeaderLogo__img {
  img {
    width: 6.25rem;
    height: 6.25rem;
  }
}

.appHeaderLogo__text {
  padding: 0 1rem 0 1rem;
}

.appHeaderButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.appHeaderButtonsAbout {
  display: flex;
  color: $xsolla-midnight;
  button {
    width: 12.875rem;
    height: 3.25rem;
    border: none;
    cursor: pointer;
    background-color: $xsolla-dove;
    color: $xsolla-midnight;
  }
}

.appHeaderButtonsAbout:hover {
  button {
    color: $xsolla-electric;
  }
}

.publisherAccountButton, .appHeaderButtonsContact {
  display: flex;
  color: $xsolla-electric;
  button {
    width: 12.875rem;
    height: 3.25rem;
    border: 0.125rem solid $xsolla-electric;
    cursor: pointer;
    background-color: $xsolla-dove;
    color: $xsolla-electric
  }
}

.appHeaderButtonsContact:hover, .publisherAccountButton:hover {
  button {
    background-color: $xsolla-electric;
    color: $xsolla-dove;
  }
}

.button_transition {
  transition: 0.3s;
}

/*Working with app footer*/
.appFooter{
  margin-top:0.625rem;
  background-color: inherit;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  max-width:83.125rem;
  display:flex;
}

/*Main part*/

.InitialPage {
  background-color: $custom-darkblue;
  width: auto;
  max-width: 75rem;
  float: none;
  display: flex;
  justify-content: space-around;
  margin-right: auto;
  margin-left: auto;
  padding:2.7rem;
  height:auto;
}

.InitialPageCard__text_regular p {
  color:white;
  margin-top: 4.5rem;
  font-size:1.875rem;
}

.InitialPageCard{
  display: flex;
  flex-direction: column;
  background-color: $xsolla-dove;
  width:calc(100%/3);
  margin: 1.25rem;
  min-height:100%;
}

.InitialPageCard__picture_1{
  background: url(../pics/pic1.jpg) no-repeat;
  width: 100%;
  max-width: 100%;
  height:10rem;
  background-size:100% 100%;
}
.InitialPageCard__picture_2{
  background: url(../pics/pic2.jpg) no-repeat;
  width: 100%;
  max-width: 100%;
  height:10rem;
  background-size:100% 100%;
}

.InitialPageCard__picture_3{
  background: url(../pics/pic3.png) no-repeat;
  width: 100%;
  max-width: 100%;
  height:10rem;
  background-size:100% 100%;
}

.InitialPageCardTitle{
  padding:1.8rem;
}

.InitialPageCard__text_main{
  color: $xsolla-electric;
}

.mainPage {
  padding:2.7rem;
  display: flex;
  flex-direction: column;
  width:auto;
}

.mainPageButtons {
  //overflow: hidden;
  display: flex;
  // margin-bottom:30px;
  margin-bottom: 2.7rem;
  height:9rem;
}

.mainPageButtons__button_simple_chosen button{
  border:0.4375rem solid $xsolla-magenta;
}

.mainPageButtons__button_advanced_chosen button{
  border:0.4375rem solid $xsolla-slate;
}

.mainPageButtons__button_simple button,
.mainPageButtons__button_advanced button{
  border:0.4375rem solid $xsolla-dove;
}

.mainPageButtons__button_simple :hover{
  background-color: $xsolla-color-fst;
}

.mainPageButtons__button_advanced :hover{
  background-color: $xsolla-color-snd;
}

.mainPageButtons__button_simple,.mainPageButtons__button_simple_chosen,{
  // background-color: $xsolla-color-fst;
  background-color: $xsolla-slate;
  border:0.4375rem solid $xsolla-dove;
  font-color: white;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  button {
    color: white;
    // background-color: $xsolla-color-fst;
    background-color: $xsolla-slate;

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.mainPageButtons__button_advanced,.mainPageButtons__button_advanced_chosen{
  // background-color: $xsolla-color-snd;
  background-color: $xsolla-magenta;
  border:0.4375rem solid $xsolla-dove;
  font-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  display:flex;
  align-items:center;
  justify-content: center;
  button {
    // background-color: $xsolla-color-snd;
    background-color: $xsolla-magenta;
    color:white;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    height:100%;
    cursor: pointer;
  }
}

.mainPageButtons__button_simple.max,.mainPageButtons__button_advanced.max {
  flex:1;
}

.mainPageButtons__text {
  width: auto;
  float: none;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width:100%;
  height:100%;
  justify-content: center;
  align-items: center;
}

// Form
.mainPageForm {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 2.7rem;
  height: auto;
  background-color: $custom-darkblue;
  margin-bottom: 2.7rem;
}
.mainPageFormFields {
  // max-width: 900px;
  background-color: $custom-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4.95rem;
  margin: 0 5.4rem 0 5.4rem;
}

.mainPageFormFieldsLabel {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin-bottom: 0.5rem;

  font-size: 0.875rem;
  font-family: SpaceMono,Arial,Helvetica Neue,Helvetica,sans-serif;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // width: 170px;
  width: 75%;
}

.mainPageFormFieldsLabel__text {
  background-color: $custom-white;
  color: $xsolla-midnight;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  left: 0;
  margin-right: 0;
  padding-right: 0.5rem;
  font-family: Graphiklcg,sans-serif;
  // font-family: Roboto;
  // font-weight: 600;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.mainPageFormFieldsLabel__text_small {
  background-color: $custom-white;
  color: $xsolla-midnight;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  left: 0;
  margin-right: 0;
  padding-right: 0.5rem;
  font-family: Graphiklcg,sans-serif;
  font-weight: bold;
}

.mainPageFormFieldsLabel__line {
  // opacity: .1;
  -webkit-box-flex: 1;
  // -ms-flex: 1 1;
  flex: 1 1;
  height: 0.0625rem;
  margin-top: 0.5625rem;
  background-color: currentColor;
}

.mainPageFormFields__checkbox {
  margin-bottom: 1.5rem;
}
//

.resultDashboard{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 2.7rem;
  height: auto;
  background-color: $custom-darkblue;
}

.resultDashboardButtons_email {
  display: flex;
  flex: 2;
}

.dashboardCard {
  display: flex;
  flex-direction: column;
  background-color: $xsolla-dove;
  margin: 5% auto 5% auto ;
  max-width: 808px;
}

.dashboardCard__image {
  overflow: hidden;
  padding: 0 0 58% 0;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.dashboardCard__text {
  padding: 14px 28px 42px 28px;
}

.dashboardCardButtons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 42px 0;
}

.emailSendingForm {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

// .resultDashboardButtons_other {
//   display: flex;
//   flex: 1;
//   justify-content: flex-end;
//   align-items: center;
//   flex-direction: row;
//   button {
//     margin: 0 2.7rem 0 2.7rem;
//   }
// }

.appMainPartResultForm{
  background-color: $custom-white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.appMainPartResultFormView{
  //background-color: $custom-white;
  //display: flex;
  //align-items: center;
  //flex-direction: column;
  //padding: 2.475rem;
  //margin: 0 2.7rem 0 2.7rem;
}
.ResultForecastTitle{
  display:flex;
  align-items:center;
  justify-content: center;
  width:100%;
}

.appMainPartResultFormViewForm{
  margin-right: auto;
  margin-left: auto;
  padding:2.7rem;
  height:auto;
}

.ResultsTotal,.ResultsChart{
  background-color: $custom-darkblue;
  border-radius: 0.3125rem;
  width: auto;
  max-width: 43.75rem;
  float: none;
  display: block;
  margin: 0.3125rem auto 0.3125rem auto;
  padding:2.7rem;
  height:auto;
  color:white;
}

.ProgressBar{
  display:flex;
  align-items:center;
  justify-content: center;
  width:100%;
}

.ProgressBarViewText{
  display:flex;
  align-items:center;
  justify-content: center;
  width:100%;
}

.totalRevenue{
  color: $xsolla-dove;
  font-size:4.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  p{
    width:30%;
    text-align: center;
  }
}

// RESULT
.ResultForecast{
  background-color: $custom-white;
  width:100%;
}

.ForecastTotal,.ForecastChart,.GenresInfo{
  background-color: $xsolla-magenta;
  border-radius: 0.3125rem;
  float: none;
  margin: 0.3125rem auto 0.3125rem auto;
  padding:2.7rem;
  height:auto;
}

.chooseChartType, .chosenChartType{
  margin: 2.7rem 2.7rem 0 2.7rem;
  border-radius: 0.3125rem;
  background-color:$xsolla-iron;
  color:$xsolla-slate;
  cursor: pointer;
  p{
    margin:0.9rem;
  }
}

.chooseChartType{
  border: 0.4375rem solid $xsolla-magenta;
}

.chosenChartType{
  border: 0.4375rem solid $xsolla-electric;
}

.ForecastButton{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.ForecastTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  border : 0.0625rem solid $xsolla-dove;
  color:$xsolla-dove;
  padding:0.9rem;
  margin-bottom: 0.3125rem;
  p{
    text-align:center;
  }
}

.GenresInfo__item{
  border-radius: 0.3125rem;
  width: auto;
  max-width: 43.75rem;
  float: none;
  margin: 0.3125rem auto 0.3125rem auto;
  height:auto;
  color:$xsolla-slate;
  display: flex;
}

.GenresInfo__item__title{
  width:auto;
  background-color: $xsolla-slate;
  color:white;
  writing-mode: tb-rl;
  transform:rotate(180deg);
  border-radius: 0 0.3125rem 0.3125rem 0;
  text-align: center;
  padding: 0.9rem 0 0.9rem 0;
}

.GenresInfo__item__text{
  display:flex;
  width:100%;
  background-color: $xsolla-dove;
  border-radius: 0 0.3125rem 0.3125rem 0;
  align-items: center;
  justify-content: center;
  p{
    text-align: center;
  }
}
